# Reference on this file: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# In order to work properly, this workflow requires the repository to have an environment called "npm". The environment
# The environment should be protected to allow running only on the `master`, `alpha` and `beta` branches.

name: Publish to NPM
on: workflow_dispatch

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    name: Build and publish
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment: npm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup Node.js
        uses: actions/setup-node@v4 # Required for OIDC
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org' # Required for OIDC
      - name: Cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: nodemodules-${{ hashFiles('yarn.lock') }}
          restore-keys: nodemodules-
      - name: Install Node packages
        run: yarn install
      - name: Build
        run: yarn build
      - name: Publish to NPM
        # This command will automatically fail because of some common mistakes (this is a wanted behavior):
        # - The current version is already published
        # - The package uses a local directory as a dependency
        run: |
          version=$(node -p "require('./package.json').version")
          tag=$(echo "$version" | grep -oP '(?<=-)[^.]+' || echo "latest")
          echo "Publishing version $version with tag: $tag"
          npm publish --access public --tag "$tag"
